.default-color0.chart-pie { -fx-pie-color: #4ca8c4; }
.default-color1.chart-pie { -fx-pie-color: #61b561; }
.default-color2.chart-pie { -fx-pie-color: #4ca8c4; }
.default-color3.chart-pie { -fx-pie-color: #61b561; }
.default-color4.chart-pie { -fx-pie-color: #ff5700; }